$primary_color: #007bff;
$primary-hover-color: #0056b3;
$success-color: #28a745;
$success-hover-color: #218838;
$title-color: #333;

body {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: wheat;
}

.content {
  max-width: 800px;
  margin: 50px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10 #000000;
  text-align: center;
}